.navbar{
    position:fixed;
    background: #4169e1;
    height: 56px;
    top:0;
    left:0;
}
.navigationitems a{
    color:white;
    text-decoration: none;
    margin:5%;
}

.navigationitems ul{
    list-style:none;
}